/* Header */

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .page-header {
    padding: 0;
  }

  .site-address-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  ul.site-address {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }

  .page-header {
    color: var(--lolg-studio-color);
    border-bottom: 1px solid var(--footer-text-color);
  }

  @media screen  and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero {
  padding: 188px 0;
    background-image:   linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-desctop@2x.jpg);
  }
}
}
/* Section2 */
@media screen and (min-width: 1200px) {
div.item-box {
    display: flex;
    background-color: var(--lolg-studio-color);
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  
    height: 112px;
  }

  h3.team-pics-title.titel-team-desc {
    display: flex;
    justify-content: center;
    font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  
  text-align: center;
  letter-spacing: 0.02em;
  }

  .work-list {
    display: flex;
    gap: 24px;
  
    flex-wrap: wrap;
    width: 100%;
  }
  
  .work-item {
    flex-basis: calc((100% - 72px) / 4);
  }

.svg-ad {
    display: block;
    object-fit: fill;
    fill: currentColor;
  }

  div.container.section-work-container {
    margin-bottom: 0;
  }


  p.section-p {
    margin-bottom: 72px;
  }
}


/*  Section 3 */

@media screen and (min-width: 1200px){
  
  .section.section-examp.desctop-section {
    display: block;
  }

.section-discription {
    text-align: center;
    margin-bottom: 72px;
    color: var(--headings-color);
  }


ul.examples {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}

li.section-examp-pics {
  flex-basis: calc((100% - 48px) / 3);
}
  
}
@media screen and (max-width: 1199px) {

}

/*Section4*/

h3.team-pics-title.mobile-titel-team {
  display: flex;
  justify-content: center;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

text-align: center;
letter-spacing: 0.02em;
}

/* Section5 Customers*/

@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customers-list {
    flex-basis: calc((100% - 120px) / 6);
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
  }

  .customers-wraper {
    padding-bottom: 120px;
  }
}
/*Portfolio*/

@media screen and (min-width: 1200px) {
  .mobile-scrol {
    padding-top: 66px;
    padding-bottom: 75px;
  }

  .apps-image {
    flex-basis: calc((100% - 48px) / 3);
  }
}

 /*Footer*/

@media screen and (min-width: 1200px) {
.footer-form-wrapper {
  display: flex;
  align-items: center;
}
p.footer-form-disc {
  display: block;
}

.footer-container {
  width: 264px;
  padding: 0;
  margin: 0;
}

.page-footer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 100px 30px;
}

div.footer-wrap {
  flex-wrap: nowrap;
}
 .footer-section-title.footer-form-disc {
  display: block;
 }
}