/*Header*/

@media screen and (min-width: 480px) {
  .container {
  
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .navigation .site-nav {
    display: none;
  }
  .address .site-address {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  @media screen  and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/OfficeMobile@2x.jpg);
  }
}
}

/* Mobile Menu */

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 7777;
    top: 0;
    left: 0;

    background: var(--main-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
    box-shadow: 0 0 0 100vmax rgba(117, 117, 117, 0.5);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background-color);
    text-decoration: none;
  }

  .mobile-link {
    margin-bottom: 40px;
  }
  .mobile-menu-container {
    padding-top: 80px;
    padding-left: 40px;
  }

  div > .site-address-menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
  }

  .phone-mobile-menu {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-color);
    text-decoration: none;
  }

  .mail-mobile-menu {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headings-color);
  }
  ul.social-media.mobile-menu-socials {
    gap: 56px;
    justify-content: start;
  }
  .mobile-menu-socials-container {
    padding-top: 48px;
  }
}

/*Hero Mobile*/

@media screen and (max-width: 767px) {
  h1.hero-titel {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .container.hero-blok {
    padding-left: 56px;
    padding-right: 56px;
  }

  div.item-box {
    display: none;
  }
}

/*Section2*/

@media screen and (max-width: 767px) {
  section.section-work {
    padding-top: 96px;
  }

  .item-box {
    display: none;
  }
}

/*Section4*/

@media screen and (max-width: 767px) {
  .team {
    display: flex;
    justify-content: center;
  }

  .section.section-team {
    padding-top: 96px;
  }

  h3.mobile-titel-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.02em;
  }
}

/* Section5 Customers*/

@media screen and (max-width: 767px) {
  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  li.customers-list {
    flex-basis: calc((100% - 16px) / 2);
  }
}

/* Scrol Portfolio*/

@media screen and (min-width: 480px) {
  .scrol {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .mobile-scrol {
    padding-bottom: 48px;
  }
}

/* Apps */

@media screen and (min-width: 480px) {
  .apps-image {
    width: 100%;
    margin-bottom: 48px;
  }
}

/* Footer */

@media screen and (min-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 80px 72px 80px;
  }

  .p.footer-p {
    padding-top: 16px;
  }

  .social-media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 110px;
  }
  .input-wrapper {
    padding-top: 72px;
  }
}

/*Footer Email Form*/

@media screen and (min-width: 480px) {
  .footer-social-media {
    display: flex;
    justify-content: center;
  }

  .footer-btn {
    margin-top: 16px;
  }

  .footer-section-title.footer-form-disc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input.footer-form-input {
    min-width: 428px;
    align-items: center;
  }

  form.input-wrapper {
    padding-left: 15px;
  }

  button.footer-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
