/* Header */
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
  .container.page-header-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Main */

/* HeroSection1 */
@media screen and (min-width: 768px) {
  .hero-blok {
    width: 720px;
  }

  @media screen  and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero {
    background-image:   linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),url(../images/OfficeTablet@2x.jpg);
  }
}
}

/*Section2*/

@media screen and (min-width: 768px),
screen and (min-width: 1199px)
 {
    div.container.section-work-container {
        width: 100%;
       margin-bottom: 96px;
       margin-top: 89px;
    }
  .work-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    width: 100%;
  }

  .work-item {
    flex-basis: calc((100% - 24px)/2);
  }

  div.item-box {
    display: none;
  }

  h3.team-pics-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
  }
}

/*  Section 3 */

@media screen and (min-width: 768px) {
  .section.section-examp {
    display: none;
  }

  h2.section-discription {
    margin: 0;
 padding-top: 96px;
 padding-bottom: 72px;
  }
}

/*  Section 4 */
@media screen and (min-width: 768px),
 screen and (min-width: 1199px) {

  .container.container-team {
  margin-bottom: 104px;
}
}

@media screen and (max-width: 768px) {

  .team {
    gap: 64px 24px;
    justify-content: center;
 }

.team-pics {

    width: calc((100% - 24px) / 2);
}
h3.team-title-tab {
    display: flex;
    justify-content: center;
}
}

/* Section5 Customers*/

@media screen and (min-width: 768px) {
   
   .customers-container {
   padding-left: 108px;
   padding-right: 108px;
   padding-top: 72px;
    margin: 0;
   }
    .customers {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
   }
    li.customers-list {
    flex-basis: calc((100% - 48px) / 3);
   
    }
}

/* Scrol Portfolio */
@media screen and (min-width: 768px) {
  .scrol {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px 91px;
  }
}
@media screen and (max-width: 768px),
screen and (max-width: 1199px) {

  .scrol-btn {
    flex-basis: calc((100% - 96px) / 5);
  }
}


/*  Portfolio Apps */

@media screen and (min-width: 768px) {
  .container-apps {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
  }

  .apps-image {
    flex-basis: calc((100% - 24px) / 2);
  }

  .apps-image {
    max-width: 360px;
  }
}

/*Footer Email Form*/

@media screen and (min-width: 768px) {
    div.container {
        margin: 0;
        padding: 24px 24px 0 24px;
       
    }
  
  .footer-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  align-items: center;
  }
  div.social-media-wrapper {
    padding: 0;
  }
  
    .footer-form-wrapper {
    display: flex;
    align-items: center;
  }

  .social-media-wrapper {
    display: flex;
    flex-direction: column;
  align-items: center;
  }

  button.footer-btn {
    margin: 0 0 0 24px;
  }

  form.input-wrapper {
    padding-top: 0;
    padding-left: 15px;
  }
}

/*Portfolio Scroll*/

